.ratingCard {
  width: 25vw;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;

  font-size: 5rem;
  height: fit-content;
  margin-top: 4rem;

  border: 2px solid rgb(0, 0, 0);
}
.platformSvg {
  width: 24vw;
}
.ratingCard:hover {
  border: 2px black dotted;
  transition: all 0.6s;
}

.rating-scale {
  font-size: 2rem;
}

@media (max-width: 550px) {
  .ratingCard {
    width: 70vw;
    height:50vw;
  }
}
