.about {
  width: 100vw;
  font-size: 10rem;
  font-family: "Oswald";
  /* position: fixed; */
  z-index: 55;
}
.gss {
  /* position: fixed; */
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  overflow: hidden;
  overflow-y: hidden;
}
.abouts {
}
.a-about {
  width: 100vw;
  font-size: 10rem;
  font-family: "Oswald";
  position: fixed;
  z-index: 55;
  /* background-color: rgb(255, 255, 255);  */
}

.i-intro {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  font-size: 1.7rem;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 2%;
  line-height: 1.7em;

  /* background: url("../../Assets/Images/My\ project.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* position: absolute; */
  width: 100vw;
  height: 150vh;
}
.about-me {
  margin-top: 40%;
  font-size: 1.7rem;
  line-height: 2em;
  color: rgb(0, 0, 0);
  text-align: center;
  /* -webkit-text-stroke: 1.4px rgb(58, 209, 12); */
  /* fill: rgb(214, 21, 21); */
  /* filter: invert(1); */
  /* mix-blend-mode: difference; */
  /* background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgba(255, 0, 85, 0.921) 35%,
    rgba(0, 212, 255, 1) 100%,
    rgb(0, 4, 255) 100%,
    rgb(0, 255, 55) 100%,
    rgb(0, 207, 248) 100%
  );
  mix-blend-mode: difference;
  background-size: 200%;
  background-clip: text;
  color: transparent; */
}
.img1 {
  /* width: 70em;
  z-index: -19; */
  width: 60%;
  /* height: 40vh; */

  position: absolute;

  /* background-image: linear-gradient(
      rgb(255, 255, 255, 0) 0%,
      rgb(255, 255, 255)
    ),
    url("../../Assets/Images/blackand\ white.png");
  background-size: 100%;
  background-position: center;

  background-repeat: no-repeat; */
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgb(255, 255, 255)
  );
  mask-image: linear-gradient(
    to top,
    rgba(252, 252, 252, 0) 20%,
    rgb(255, 255, 255)
  );
  /* top: 5%; */
  /* background-image: linear-gradient(rgb(255, 255, 255, 0), rgb(255, 255, 255)),
    url("../../Assets/Images/blackand\ white.png"); */
  /* left: 23%; */
  z-index: -4;
}

.i-skills {
  width: 100vw;
  padding-left: 20vw;
  padding-right: 20vw;
  height: 250vh;
  font-size: 7rem;
}

.front-end {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 70vh;
}
.i-skills-icon {
  /* width: 30%; */
  /* height: 20vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.i-skills-details {
  display: flex;
  width: 100%;
  height: 20vh;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /* color: red; */
}

.i-skills-image {
  display: flex;
  position: absolute;
  /* top: 10%; */
  left: 70%;
  transform: scale(4);
  justify-content: center;
  align-items: center;
  height: 100%;
}
.skills-f {
  width: 18rem;
}
.skills-b {
  font-size: 5em;
}
.skills-d {
  font-size: 5em;
}
.back-end {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 70vh;
}
.deployment {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 70vh;
}

i {
  /* width: 2em; */
  height: 2.5em;
  /* font-weight: 400; */
  /* padding-right: 2em; */
  font-size: 2.5rem;
}

tr {
  padding-right: 2em;
}

.i-skills-icons {
  font-size: 2.5rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.heroku {
  /* padding-top: 3%; */
  /* transform: scale(0.4); */
}
.herok-u {
  /* display: flex; */
  /* align-items: center; */
}

/* .form {
  width: 100vw;
  height: 100vh;
} */

.form {
  display: flex;
  /* align-items: center; */
  /* flex-direction: column; */
  justify-content: space-between;
  font-size: 3rem;
  font-weight: 100;
  width: 80vw;
  /* padding-left: 10vw; */
  /* padding-right: 10vw; */
  margin-left: 10vw;
  margin-right: 10vw;
  height: 80vh;
}
.form-text {
  width: 30%;
  /* height: 80vh; */
}
.contact-formm {
  width: 40%;
  font-family: "Dancing script";
  font-size: 10rem;
  /* position: absolute; */
}

@media (max-width: 550px) {
  .about-me {
    font-size: 1.2rem;
  }
  .img1 {
    /* width: 80vw; */
    /* height: 23vh; */
    /* left: 13%;
    top: 7%; */
  }
  .i-intro {
    margin-top: 3vh;
    height: 100vw;
    text-align: center;
  }
  .form {
    flex-direction: column;
    justify-content: space-around;
  }
  .form-text {
    width: 100%;
  }
  .contact-formm {
    font-size: 6rem;
    width: 100%;
  }

  .skills-d {
    top: 22.5%;
  }

  .i-skills {
    height: 130vh;
  }
  .i-skills-image {
    width: 0;
    height: 0;
    opacity: 0;
  }
  td {
    display: flex;
    /* align-items: center; */
  }
  tr {
    align-items: center;
  }

  .i-skills {
    padding-left: 0%;
    padding-right: 0%;
  }
  .i-skills-details {
    /* width: 90%; */
    padding-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .front-end {
    margin-top: 17vh;
    height: 45vh;
  }
  .back-end {
    height: 45vh;
  }
  .deployment {
    height: 45vh;
  }
}

@media (max-width: 1000px) {
  .about-me {
    font-size: 1.2rem;
  }
  .img1 {
    /* width: 80vw;
    height: 23vh; */
    /* left: 13%;
    top: 7%; */
  }
}
