* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Home {
  font-size: 5.5rem;
  font-family: "Oswald";
  font-weight: 800;
}

.logo {
  font-size: 50rem;
  background: linear-gradient(
    90deg,
    rgb(146, 142, 209) 0%,
    rgba(255, 0, 85, 0.921) 35%,
    rgba(0, 212, 255, 1) 100%,
    rgb(0, 4, 255) 100%,
    rgb(0, 255, 55) 100%,
    rgb(149, 164, 167) 100%
  );
  background-clip: text;
  /* position: relative; */
  /* top: 0.1em; */

  transform: translate(0, 0);
  transition-duration: 3s;

  color: transparent;
  background-size: 300%;
  animation: bg-animation 3s infinite, movement 3s linear;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

@keyframes movement {
  0% {
    transform: translate3d(0, 20px, 0);

    /* -webkit-transform: skew(-deg, 0deg); */
    /* opacity: ; */
  }
  50% {
    transform: translate3d(0, 15px, 0);
    -webkit-transform: skew(-15deg, 0deg);

    /* opticitiy: 3; */
  }
  70% {
    transform: translate3d(0, 10px, 0);

    -webkit-transform: skew(-10deg, 0deg);
    /* opticitiy: 5; */
  }

  100% {
    transform: translate3d(0, 5px, 0);

    -webkit-transform: skew(-5deg, 0deg);
    /* opticitiy: ; */
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 4em;

  padding-left: 8%;
  padding-right: 10%;
}

.mid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  /* background: rgb(226, 146, 146); */
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  width: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

svg {
  z-index: -200;
  width: 200px;
  height: 200px;
  position: -webkit-sticky;
  top: 24em;
  right: 15em;
}
button {
  position: ;
  z-index: 2;
}
/* 
.graphSvg {
  position: absolute;
  background-color: red;
  z-index: -100;
} */
