* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Home {
  height: 100vh;
  font-size: 5.5rem;
  font-family: "Oswald";
  font-weight: 800;
  transition: 3s;
  transition-duration: 3s;
  /* background-color: black; */
  /* background: linear-gradient(
    url(
      "../../Assets/Images/algo1.png",
      url("../../Assets/Images/Screenshot\ 2023-03-16\ at\ 5.50.23\ PM.png")
    )
  ); */
  /* background-image: url("../../Assets/Images/mask2.png"),
    linear-gradient(135deg, white 50%, black 50%); */

  /* opacity: 0.5; */
  /* filter: invert(1); */
  mix-blend-mode: difference;
  background-size: cover;
  background-repeat: no-repeat;

  background: linear-gradient(135deg, white 50%, black 50%);
  /* clip-path: polygon(0 100%, 100% 1%, 0 100%, 100% 100%, 100% 0); */
  transform: translate(4, 4);

  z-index: -5;
}
/* .name {
  background: linear-gradient(
    90deg,
    rgb(146, 142, 209) 0%,
    rgba(255, 0, 85, 0.921) 35%,
    rgba(0, 212, 255, 1) 100%,
    rgb(0, 4, 255) 100%,
    rgb(0, 255, 55) 100%,
    rgb(149, 164, 167) 100%
  );
  background-size: 200%;
  background-clip: text;
  color: transparent;
  animation: bg-animation 6s infinite;

} */

.logo {
  font-size: 50rem;
  background: linear-gradient(
    rgb(16, 0, 241) 0%,
    rgba(255, 0, 85, 0.921) 35%,
    rgb(0, 213, 255) 100%,
    rgb(30, 255, 0) 100%,
    rgb(247, 0, 255) 100%,
    rgb(0, 0, 0) 100%
  );
  background-clip: text;
  /* position: relative; */
  /* top: 0.1em; */

  transform: translate(0, 0);
  transition-duration: 3s;

  color: transparent;
  background-size: 300%;
  animation: bg-animation 3s infinite, movement 3s linear;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  /* 50% {
    background-position: bottom;
  }
  75% {
    background-position: top;
  } */

  100% {
    background-position: right;
  }
}

@keyframes movement {
  0% {
    transform: translate3d(0, 20px, 0);

    /* -webkit-transform: skew(-deg, 0deg); */
    /* opacity: ; */
  }
  50% {
    transform: translate3d(0, 15px, 0);
    -webkit-transform: skew(-15deg, 0deg);

    /* opticitiy: 3; */
  }
  70% {
    transform: translate3d(0, 10px, 0);

    -webkit-transform: skew(-10deg, 0deg);
    /* opticitiy: 5; */
  }

  100% {
    transform: translate3d(0, 5px, 0);

    /* opticitiy: ; */
  }
}
.firstPart {
  font-size: 6rem;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* color: white; */
  mix-blend-mode: difference;

  width: 100vw;
  height: 4em;

  padding-left: 8%;
  padding-right: 10%;
  filter: invert(1);
}

.mid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: row; */
  height: 70vh;
  width: 100vw;
  /* background: rgb(226, 146, 146); */
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 4rem;
  width: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* button {
  position: ;
  z-index: 2;
} */

.competitive {
  display: flex;
  align-items: center;
  font-size: 10rem;
  width: 50%;
  height: 100%;
  /* -webkit-text-fill-color: transparent; */
  /* -webkit-text-stroke: 2px rgb(255, 255, 255); */
  /* background: url("../../Assets/Images/cp1.png"); */

  /* background-repeat: no-repeat; */
  /* background: url("../../Assets/Images/algorithms.png"); */
  background-size: contain;
  /* background-size: 200%; */
  /* clip-path: polygon(0 100%, 46.5% 100%, 130% 0, 0 0); */

  /* background-position: top; */
  /* opacity: 0.5; */

  color: white;
  /* mix-blend-mode: difference; */
  /* -webkit-text-stroke: 5px rgb(255, 255, 255); */
  /* mix-blend-mode: difference; */
  /* filter: invert(90%); */
  text-align: initial;
  /* z-index: 1; */
}
.competitive div {
  font-size: 10rem;
  text-align: start;
  width: 78%;
  display: flex;
}
.cc {
  mix-blend-mode: difference;
  color: white;
  /* fill-opacity: 5; */
  /* opacity: 0.8; */
}
.webD {
  width: 50%;
  height: 100%;
  font-size: 10rem;
  /* -webkit-text-fill-color: red; */
  /* -webkit-text-stroke: 2px rgb(0, 0, 0); */
  mix-blend-mode: difference;

  /* background-image: url("../../Assets/Images/Screenshot\ 2023-03-16\ at\ 5.50.23\ PM.png"); */
  /* background: url("../../Assets/Images/94a51f_1ac5008965df4bc68bf1584d6436a52f_mv2.webp"); */
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 2px;
  color: black;
  filter: invert(100%);
  /* filter: drop-shadow(50%); */
  background-repeat: no-repeat;
  /* transform: skew(-46deg); */

  background-size: cover;

  /* clip-path: polygon(0 35%, 33% 0, 100% 0, 100% 100%, 0% 100%); */
  z-index: -3;
}
.webD div {
  /* transform: skew(46deg); */
  font-size: 10rem;
  text-align: end;
  width: 78%;
  display: flex;
}
/* 
.graphSvg {
  position: absolute;
  background-color: red;
  z-index: -100;
} */
/* 
svg {
  z-index: -4;
  position: relative;
} */
.bubble {
  z-index: -4;
  position: absolute;
  opacity: 0.13;
  /* right: 1em; */
  top: 62%;
  /* filter: invert(10%); */
  mix-blend-mode: difference;
}

.HeapSort {
  z-index: -4;
  position: absolute;
  opacity: 0.5;
  left: 25%;
  top: 10%;
  /* filter: invert(10%); */
  mix-blend-mode: difference;
}
.Dynamic {
  z-index: -4;
  position: absolute;
  opacity: 0.5;
  left: 12%;
  top: 35%;
  /* filter: invert(10%); */
  mix-blend-mode: difference;
  transform: scale(1.3);
}

.queue {
  z-index: -4;
  position: absolute;
  opacity: 0.5;
  left: 5%;
  top: 70%;
  /* filter: invert(10%); */
  mix-blend-mode: difference;
  /* transform: scale(1.5); */
}
.Js {
  z-index: -4;
  position: absolute;
  opacity: 0.2;
  left: 45%;
  top: 10%;
  /* filter: invert(10%); */
  mix-blend-mode: difference;
  transform: scale(0.2);
  /* left: -80%; */
}
.React {
  z-index: -4;
  position: absolute;
  opacity: 0.3;
  left: 80%;
  top: 30%;
  /* filter: invert(10%); */
  mix-blend-mode: difference;
  transform: scale(1.3);
  /* left: -80%; */
}

.Git {
  z-index: -4;
  position: absolute;
  opacity: 0.2;
  left: 50%;
  top: 73%;
  /* filter: invert(10%); */
  mix-blend-mode: difference;
  transform: scale(1.6);
  /* left: -80%; */
}

@media (min-width: 700px) and (max-width: 950px) {
  .HeapSort {
    transform: scale(1.7);
  }

  .webD {
    padding-right: 4%;
  }
  .queue {
    top: 58%;
    left: 0%;
  }
  .Dynamic {
    transform: scale(1.7);
  }

  .Js {
    opacity: 0.3;
    /* left: 0%; */
    top: 70%;
    /* filter: invert(10%); */
    mix-blend-mode: difference;
    transform: scale(0.5);
    /* left: -80%; */
  }

  .React {
    left: 70%;
    top: 40%;
    /* filter: invert(10%); */
    mix-blend-mode: difference;
    transform: scale(1.2);
    /* left: -80%; */
  }
}

@media (max-width: 550px), (max-height: 500px) {
  .competitive {
    width: 100%;
  }
  .competitive div {
    font-size: 7.4rem;
    width: 100%;
  }
  .webD {
    /* font-size: 8rem; */
    width: 100%;
    text-align: right;
  }
  .webD div {
    width: 70%;
    font-size: 7.4rem;
  }
  .mid {
    flex-direction: column;
  }
  .bubble {
    z-index: -4;
    position: absolute;
    opacity: 0.4;
    /* right: 1em; */
    top: 52%;
    /* filter: invert(10%); */
    mix-blend-mode: difference;
  }

  .HeapSort {
    z-index: -4;
    position: absolute;
    opacity: 0.8;
    left: 10%;
    top: 10%;
    /* filter: invert(10%); */
    mix-blend-mode: difference;
    /* transform: scale(1.4); */
  }
  .Dynamic {
    z-index: -4;
    position: absolute;
    opacity: 0.5;
    left: 10%;
    top: 22%;
    /* filter: invert(10%); */
    mix-blend-mode: difference;
    transform: scale(0.8);
  }
  .queue {
    z-index: -4;
    position: absolute;
    opacity: 0.8;
    left: -28%;
    top: 43%;
    transform: rotate(90deg);
    /* filter: invert(10%); */
    mix-blend-mode: difference;
  }

  .Js {
    opacity: 0.3;
    /* left: 0%; */
    top: 70%;
    /* filter: invert(10%); */
    mix-blend-mode: difference;
    transform: scale(0.5);
    /* left: -80%; */
  }

  .React {
    z-index: -4;
    position: absolute;
    opacity: 0.3;
    left: 70%;
    top: 40%;
    /* filter: invert(10%); */
    mix-blend-mode: difference;
    transform: scale(1.2);
    /* left: -80%; */
  }

  .Git {
    z-index: -4;
    position: absolute;
    opacity: 0.2;
    left: 50%;
    top: 60%;
    /* filter: invert(10%); */
    mix-blend-mode: difference;
    transform: scale(1.6);
    /* left: -80%; */
  }
}

@media (min-width: 1400px) {
  .webD div {
    font-size: 15rem;
  }
  .competitive div {
    font-size: 15rem;
  }
  .queue {
    z-index: -4;
    /* position: absolute;
    opacity: 0.8;
    left: 6%;
    top: 34%; */
    /* filter: invert(10%); */
    /* mix-blend-mode: difference; */
    transform: scale(1.5);
  }
  .HeapSort {
    transform: scale(2);
    left: 35%;
  }

  .Dynamic {
    transform: scale(2);
    left: 15%;
  }

  .React {
    z-index: -4;
    position: absolute;
    opacity: 0.4;
    left: 80%;
    top: 30%;
    /* filter: invert(10%); */
    mix-blend-mode: difference;
    transform: scale(2.2);
    /* left: -80%; */
  }
  .Git {
    left: 80%;
    top: 75%;
    transform: scale(2.5);
  }
  .Js {
    left: 30%;
    top: 15%;
  }
}
