@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Oswald:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.greet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-color: black;
  color: white;
}
.sLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.sLogo h3 {
  /* height: 70vh; */
  font-size: 60rem;
  /* width: 70vw; */
  /* height: fit-content;  */

  /* mix-blend-mode: luminosity; */
  /* -webkit-text-stroke: 15px rgb(129, 129, 233); */
  /* color: black; */

  animation: loading 6s linear;
  animation-fill-mode: both;
  /* width: 100vw; */
  /* height: 100vw; */
  font-family: "Dancing script";
  position: relative;
}

.greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vw;
  background-color: rgb(255, 255, 255);
}
.greeting h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20rem;
  color: black;
  font-family: "Dancing script";
  height: 100vh;
  width: 100vw;
  background-color: white;
  animation: expand, 2s, linear;
}

@keyframes {
}
/* @keyframes rotation {
  0% {
    rotate: 60deg;
  }
  50% {
    rotate: 120deg;
  }
  100% {
    rotate: 180deg;
  }
} */

@keyframes loading {
  0% {
    rotate: 0deg;
    background-color: none;
    color: dodgerblue;
    clip-path: polygon(
      0 100%,
      2% 100%,
      18% 100%,
      36% 100%,
      50% 100%,
      62% 100%,
      75% 100%,
      89% 100%,
      98% 100%,
      100% 100%
    );
  }

  10% {
    rotate: 0deg;
    background-color: black;
    color: rgba(30, 143, 255, 0.76);
    clip-path: polygon(
      0 100%,
      0 94%,
      13% 96%,
      26% 96%,
      43% 93%,
      57% 92%,
      70% 89%,
      84% 88%,
      100% 92%,
      100% 100%
    );
  }

  20% {
    rotate: 0deg;
    background-color: none;
    color: rgba(30, 143, 255, 0.637);
    clip-path: polygon(
      0 100%,
      0 92%,
      9% 85%,
      24% 81%,
      42% 83%,
      50% 85%,
      68% 88%,
      70% 85%,
      100% 82%,
      100% 100%
    );
  }

  30% {
    rotate: 0deg;
    background-color: black;
    color: rgba(30, 143, 255, 0.452);
    clip-path: polygon(
      0 100%,
      0 72%,
      12% 77%,
      26% 81%,
      43% 80%,
      58% 75%,
      73% 71%,
      86% 68%,
      100% 67%,
      100% 100%
    );
  }

  40% {
    rotate: 0deg;
    background-color: black;
    color: rgba(30, 143, 255, 0.486);
    clip-path: polygon(
      0 100%,
      0 61%,
      13% 55%,
      27% 52%,
      42% 55%,
      57% 61%,
      74% 65%,
      87% 64%,
      100% 58%,
      100% 100%
    );
  }

  50% {
    rotate: 0deg;
    background-color: black;
    color: rgba(30, 143, 255, 0.452);
    clip-path: polygon(
      0 100%,
      0 37%,
      9% 43%,
      23% 47%,
      41% 46%,
      60% 43%,
      72% 35%,
      85% 31%,
      100% 30%,
      100% 100%
    );
  }

  60% {
    rotate: 0deg;
    background-color: black;
    color: rgba(30, 143, 255, 0.274);
    clip-path: polygon(
      0 100%,
      0 18%,
      15% 17%,
      29% 18%,
      43% 24%,
      57% 26%,
      73% 23%,
      87% 19%,
      100% 16%,
      100% 100%
    );
  }

  70% {
    rotate: 0deg;
    background-color: black;
    color: rgba(30, 143, 255, 0);
    clip-path: polygon(
      0 100%,
      0 13%,
      13% 15%,
      27% 13%,
      41% 10%,
      56% 6%,
      72% 7%,
      82% 9%,
      100% 16%,
      100% 100%
    );
  }

  80% {
    rotate: 45deg;
    background-color: black;
    color: white;
    clip-path: polygon(
      0 100%,
      0 0,
      13% 5%,
      28% 6%,
      43% 6%,
      54% 7%,
      70% 9%,
      84% 8%,
      100% 5%,
      100% 100%
    );
  }

  90% {
    rotate: 90deg;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    clip-path: polygon(
      0 100%,
      0 0,
      9% 0,
      26% 0,
      41% 0,
      52% 0,
      67% 0,
      82% 0,
      100% 0,
      100% 100%
    );
  }
  100% {
    rotate: 90deg;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
    clip-path: polygon(
      0 100%,
      0 0,
      9% 0,
      26% 0,
      41% 0,
      52% 0,
      67% 0,
      82% 0,
      100% 0,
      100% 100%
    );
  }
}

.greeting {
  font-size: 4rem;
}

@media (max-width: 400px) {
  .sLogo h3 {
    font-size: 40rem;
  }
}
