@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Oswald:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@600&family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.greet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-color: rgb(255, 255, 255);
  color: white;
}
/* .sLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
} */
.sLogo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  /* height: 70vh; */
  font-size: 20rem;
  /* width: 70vw; */
  /* height: fit-content;  */
  /* -webkit-font-smoothing: antialiased; */
  /* mix-blend-mode: luminosity; */
  /* -webkit-text-stroke: 15px rgb(129, 129, 233); */
  /* color: black; */

  /* animation: loading 6s linear; */
  background-color: transparent;
  animation-fill-mode: both;
  /* width: 100vw; */
  /* height: 100vw; */
  font-family: "Poppins";
  /* font-family: "Oswald"; */
  position: relative;
}

.greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vw;
  background-color: transparent;
}
.greeting h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20rem;
  color: black;
  /* font-family: "Dancing script"; */
  font-family: "Oswald";
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  animation: expand, 1s, linear;
  /* transition: 1.5s; */
  /* transition-duration: 3s; */
}

/* @keyframes {
} */
/* @keyframes rotation {
  0% {
    rotate: 60deg;
  }
  50% {
    rotate: 120deg;
  }
  100% {
    rotate: 180deg;
  }
} */

@keyframes loading {
  0% {
    background: black;
    width: 4000px;
    /* height: 4000px; */
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
  }
  10% {
    transform: skew(135deg);
    transform: translate(-5vw, -5vh);

    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
  }
  20% {
    transform: skew(135deg);
    transform: translate(-15vw, -15vh);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
  }
  30% {
    transform: skew(135deg);
    transform: translate(-25vw, -25vh);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
  }
  40% {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    transform: skew(135deg);
    transform: translate(-35vw, -35vh);
  }
  50% {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    transform: skew(135deg);
    transform: translate(-45vw, -45vh);
  }
  60% {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    transform: skew(135deg);
    transform: translate(-55vw, -55vh);
  }
  70% {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    transform: skew(135deg);
    transform: translate(-65vw, -65vh);
  }
  80% {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    transform: skew(135deg);
    transform: translate(-75vw, -75vh);
  }
  85% {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    transform: skew(135deg);
    transform: translate(-85vw, -85vh);
  }
  90% {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    transform: skew(135deg);
    transform: translate(-95vw, -95vh);
  }
  100% {
    /* clip-path: polygon(15% 100%, 66% 0, 100% 0, 100% 100%); */
    transform: skew(135deg);
    transform: translate(-105vw, -105vh);
  }
}

@keyframes loaing {
  0% {
    transform: translateY(0);

    rotate: 0deg;
    background-color: none;
    color: dodgerblue;
  }

  5% {
    transform: translateY(0);
    rotate: 0deg;
    background-color: black;
    color: rgba(221, 255, 30, 0.76);
  }

  10% {
    transform: translateY(0);
    rotate: 0deg;
    background-color: black;
    color: rgb(250, 53, 184);
  }

  15% {
    transform: translateY(0);
    rotate: 0deg;
    background-color: black;
    color: rgb(159, 223, 150);
  }

  20% {
    transform: translateY(0);
    rotate: 0deg;
    background-color: black;
    color: rgb(30, 203, 255);
  }

  25% {
    transform: translateY(0);
    rotate: 0deg;
    background-color: black;
    color: rgb(188, 255, 30);
  }

  30% {
    transform: translateY(0);
    rotate: 0deg;
    background-color: black;
    color: rgb(212, 116, 103);
  }

  35% {
    transform: translateY(0);
    rotate: 0deg;
    background-color: black;
    color: rgba(30, 143, 255, 0);
  }

  40% {
    transform: translateY(0);
    /* rotate: 45deg; */
    background-color: black;
    color: rgb(122, 50, 155);
  }

  43% {
    clip-path: circle(99.8% at 50% 70%);
    transform: translateY(0);
    /* rotate: 90deg; */
    background-color: rgb(0, 0, 0);
    color: rgb(9, 236, 111);
  }

  45% {
    clip-path: circle(89.8% at 50% 50%);
    transform: translateY(0);
    /* rotate: 180deg; */
    background-color: rgb(0, 0, 0);
    color: rgb(204, 177, 23);
  }

  50% {
    clip-path: circle(79.8% at 50% 40%);
    transform: translateY(0);
    /* rotate: 360deg; */
    background-color: rgb(0, 0, 0);
    color: rgba(204, 118, 118, 0.959);
  }

  60% {
    clip-path: circle(69.8% at 49% 30%);
    transform: translateY(0);
    background-color: rgb(0, 0, 0);
    color: rgb(0, 204, 255);
    /* rotate: 360deg; */
    /* font-size: 20rem; */
  }
  70% {
    clip-path: circle(59.8% at 49% 25%);
    /* top: 0%; */
    transform: translateY(0vh);
    background-color: rgb(0, 0, 0);
    color: rgb(157, 187, 117);
    /* rotate: 360deg; */
  }
  73.5% {
    clip-path: circle(49.8% at 51% 20%);

    transform: translateY(0vh);
  }

  77% {
    clip-path: circle(39.8% at 50% 15%);
    transform: translateY(0vh);
  }

  80% {
    /* top: -40%; */
    clip-path: circle(29.8% at 50% 10%);
    transform: translateY(0vh);
    background-color: rgb(0, 0, 0);
    color: rgb(216, 172, 172);
    /* rotate: 360deg; */
  }

  83.5% {
    clip-path: circle(19.8% at 50% 5%);
    transform: translateY(0vh);
  }
  87% {
    clip-path: circle(9.8% at 50% 3%);
    transform: translateY(0vh);
  }

  90% {
    clip-path: circle(0.8% at 50% 0%);
    /* top: -50%; */
    transform: translateY(-20vh);
    background-color: rgb(0, 0, 0);
    color: rgb(160, 65, 65);
    /* rotate: 360deg; */
  }

  93.5% {
    transform: translateY(-40vh);
  }

  97% {
    transform: translateY(-60vh);
  }
  100% {
    /* clip-path: circle(29.3% at 50% 0); */

    /* top: -100%; */
    transform: translateY(-100vh);

    background-color: rgb(0, 0, 0);
    color: black;
    /* rotate: 360deg; */
  }
}

.greeting {
  /* font-size: 4rem; */
}

@media (max-width: 550px) {
  .sLogo h3 {
    font-size: 8rem;
  }
}

.a {
}
