@import url("https://fonts.googleapis.com/css2?family=Khand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@font-face {
  font-family: SFProDisplay;
  src: url("../../Assets/font/SFProDisplay-Regular.ttf");
}

.competitiv {
  width: 100vw;
  /* font-size: 40rem; */
  font-family: "Oswald";

  overflow: auto;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.cc-heading {
  font-size: 17rem;
  width: 100vw;
  height: 200vh;
  display: flex;
  letter-spacing: 4px;
  /* position: absolute; */

  padding-top: 0.3em;
  /* font-weight: 0; */
  /* align-items: center; */
  justify-content: space-around;
  text-align: center;
  line-height: 80%;
  /* background: url("../../Assets/Images/algorithms.png"); */

  background-repeat: no-repeat;
  /* background-position: center; */
  color: red;
  mix-blend-mode: difference;
  filter: invert(1);
  -webkit-text-stroke: red;

  /* background-size: 300%; */
  /* background-position: left; */
  /* background-clip: text; */
  /* color: transparent; */
  /* text-shadow: red; */
  /* animation: cc-movement 13s infinite; */
}

.cc-heading h1 {
  background: url("../../Assets/Images/algorithms.png");
  background-clip: text;
  color: transparent;
  font-weight: 700;
  width: fit-content;
  height: fit-content;
  background-size: contain;
  /* animation: cc-movement 13s infinite; */
  /* -webkit-text-fill-color: white; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transform: scale(1, 1.3);
}

@keyframes cc-movement {
  0% {
    background-position: left;
  }
  100% {
    background-position: bottom;
  }
}
.cc-intro {
  /* width: 80vw; */
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
  height: 200vh;
  font-size: 2.5rem;
  transition: all 0.6s;
}

.cc-achivement {
  width: 100vw;
  height: 100vh;
  font-size: 15rem;
}

.subtext {
  font-size: 4rem;
  transition: all 0.7s ease-out 0s;
  opacity: 0.6;
  font-family: "Dancing script";

  /* left: -2%; */
}

.bs {
  position: absolute;
  left: 10%;
  top: 20%;
}
.dp {
  position: absolute;
  top: 15%;
  left: 50%;
}
.tc {
  position: absolute;
  top: 25%;
  left: 50%;
}

.sc {
  position: absolute;
  top: 30%;
  left: 15%;
}

.math {
  position: absolute;
  top: 38%;
  left: 50%;
}
.chinese-r {
  position: absolute;
  top: 35%;
  left: 70%;
}

.fenwick-t {
  position: absolute;
  top: 45%;
  left: 40%;
}
