.contact {
  font-family: "Oswald";
  height: fit-content;
  padding-bottom: 20em;
}
.gs {
  /* position: fixed; */
  z-index: 15;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 30vw;
  /* height: 100%; */
  height: 100vh;
  position: fixed;
  overflow: hidden;
  z-index: 99;
}
.invisible {
  width: 0;
  height: 0;
}
.contacts {
  /* position: fixed; */
  z-index: 55;
}

.contact-mid {
  display: flex;
  width: 100vw;
  height: fit-content;
  justify-content: space-around;
  font-weight: 100;
}

.contact-F {
  width: 80%;
}
.personalDetails {
  width: 20%;
  font-size: 3.5rem;
  border-left: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-header {
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  align-content: center;
}
.form-heading {
  height: 15vh;
  font-size: 4rem;
}
.cont-heading {
  /* width: 10em; */
  /* border-radius: 2em; */
  font-weight: 400;
}

@media (max-width: 550px) {
  .contact-mid {
    flex-direction: column-reverse;
  }

  .form-heading {
    font-size: 3rem;
  }
  .personalDetails {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: flex-start;
    width: 100vw;
    border: none;
    margin-bottom: 5vh;
  }
}
