.recent-work {
  font-size: 4rem;
  font-family: "Oswald";
  font-weight: 300;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* width: 100vw; */
  /* margin-left: 10vw;
  margin-right: 10vw; */
  /* height: 150vh; */

  /* position: fixed; */

  z-index: 59;
}
.recent-w {
}
.projects-section {
  width: 100vw;
  height: fit-content;
  padding-bottom: 2em;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.gsst {
  position: fixed;
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100%; */
  height: 100%;
  z-index: 99;
  /* overflow: hidden; */
}
.projects {
  margin-top: 2em;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.project {
  /* width: 10vw;
  height: 10vh; */
  /* background: url("../../Assets/Images/project1ss.png"); */
  /* display
  background-size: contain;
  background-repeat: no-repeat; */
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 5rem;
  font-weight: 100;
  justify-content: center;
  color: black;
}
/* .gtStyled {
  width: 100vw;
  height: 100vh;
  background-color: red;
} */

.img {
  width: 30vw;
  height: 30vh;
}

@media (max-width: 500px) {
  .projects {
    width: 100vw;
    flex-direction: column;
  }
  .img {
    width: 70vw;
  }
}
